Please enter your information for the phone book.
    <div id = "phonebook_user_input_section">
        <form method = "post" action = "/index">
            <input type = "text" name = "user_given_first_name" class = "form-control" placeholder = "First Name" required>
            <input type = "text" name = "user_given_last_name" class = "form-control" placeholder = "Last Name" required>
            <input type = "text" name = "user_given_street_address" class = "form-control" placeholder = "Street Address" required>
            <input type = "text" name = "user_given_city" class = "form-control" placeholder = "City" required>
            <input type = "text" name = "user_given_state" class = "form-control" placeholder = "State" minlength = "2" maxlength = "2" required>
            <input type = "text" name = "user_given_zip" class = "form-control" placeholder = "Zip Code" minlength = "5" maxlength = "5" required>
            <input type = "tel" name = "user_given_phone_number" class = "form-control" placeholder = "Phone Number" minlength = "10" maxlength = "10" required>
            <input type = "email" name = "user_given_email" class = "form-control" placeholder = "Email Address" required>
            
            <input type = "submit" value = "Click here to add information to the Phone Book">
        </form>
    </div>
    
    <table id = "search_results_table">
        <tr class = "header">
                <th style = "width: 10%;"> First Name </th>
                <th style = "width: 10%;"> Last Name </th>
                <th style = "width: 10%;"> Street Address </th>
                <th style = "width: 10%;"> City </th>
                <th style = "width: 10%;"> State </th>
                <th style = "width: 10%;"> Zip Code </th>
                <th style = "width: 10%;"> Phone Number </th>
                <th style = "width: 10%;"> Email Address </th>
        </tr>

        <% phonebook.each do |value| %>
            <tr>
                <td> <%= value['first_name'] %> </td>
                <td> <%= value['last_name'] %> </td>
                <td> <%= value['street_name'] %> </td>
                <td> <%= value['city'] %> </td>
                <td> <%= value['state'] %> </td>
                <td> <%= value['zip'] %> </td>
                <td> <%= value['phone_number'] %> </td>
                <td> <%= value['email'] %> </td>
                
                <br>
            </tr>
        <% end %>
    </table>

<br>
<br>

    Search by first name or phone number
        <form method = "post" action = '/searching'>
            <input type = "text" name = "searched_first_name" placeholder = "Search by first name">
            <input type = "text" name = "searched_phone_number" placeholder = "Search by phone number">

            <input type = "submit" value = "Search">
        </form>
    <div id = "display">
        <%= session[:search_results_table]%>
    </div>

<br>
<br>

Update and Change your information
    <form action = '/updated_table_cell' method = 'post'>
        <select name = 'new_table_cell'>
            <option value = 'new_first_name'> First Name </option>
            <option value = 'new_last_name'> Last Name </option>
            <option value = 'new_street_address_name'> Street Address </option>
            <option value = 'new_city'> City </option>
            <option value = 'new_state'> State </option>
            <option value = 'new_zip'> Zip Code </option>
            <option value = 'new_phone_number'> Phone Number </option>
            <option value = 'new_email'> Email Address </option>
        </select>

        <br>

        <input type = "text" name = "new_entry" placeholder = "Enter updated information"> <br>
        <input type = "text" name = "old_entry" placeholder = "Enter old information"> <br>
        
        
        <input type = "submit" value = "Update">
    </form>

    <form action = '/delete_table_row' method = 'post'> Delete your row of information:
        <select name = 'old_table_row'>
            <option value = 'delete_first_name'> First Name </option>
            <option value = 'delete_last_name'> Last Name </option>
            <option value = 'delete_street_address_name'> Street Address </option>
            <option value = 'delete_city'> City </option>
            <option value = 'delete_state'> State </option>
            <option value = 'delete_zip'> Zip Code </option>
            <option value = 'delete_phone_number'> Phone Number </option>
            <option value = 'delete_email'> Email Address </option>
        </select>

        <input type = "text" name = "user_deleting_data" placeholder = "What row of information would you like to delete?">

        <input type = "submit" value = "Delete Entry">
    </form>


<%# <input type = "text" id = "search_bar_input" onkeyup = "search_function()" placeholder = "Search your name"> %>
    <%# <script>
        function search_function() {
            var user_given_search_input, uppercase_filter, table, table_row, table_cell, index_position;
            
            user_given_search_input = document.getElementById("search_bar_input")
            uppercase_filter = user_given_search_input.value.toUpperCase();
            table = document.getElementById("search_results_table")
            table_row = table.getElementsByTagName("tr")

            for (index_position = 0; index_position < table_row.length; index_position++) {
                table_cell = table_row[index_position].getElementsByTagName("td")[0];
                if (table_cell) {
                    if (table_cell.innerHTML.toUpperCase().indexOf(uppercase_filter) > -1) {
                        table_row[index_position].style.display = "";
                    }
                    else {
                        table_row[index_position].style.display = "none";
                    }
                }
            }
        }
    </script> %>